body {
    font-family: Arial, sans-serif;
    background-color: #121212;  /* Dark background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #ffffff;  /* Text color */
}

.container {
    background-color: #1E1E1E;  /* Slightly lighter dark background for the container */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(230, 227, 227, 0.5);
    max-width: 400px;
    width: 100%;
    color: #ffffff;  /* Text color within the container */
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    color: #4CAF50;  /* Text color for heading */
}

label {
    display: block;
    margin-top: 10px;
    color: #9E9E9E;  /* Text color for labels */
}

select, input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333333;  /* Background color for inputs */
    color: #ffffff;  /* Text color for inputs */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #388E3C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #66BB6A;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    background-color: #322234;
    font-weight: bold;
    text-align: center;
    color: #ffffff;  /* Text color for result */
}
